@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CMScenter.Views.Models.ViewModel;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@{
    string culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    string hide_header = "ActiveMode";
    if (areaName == "Admin" || areaName == "Identity")
    {
        hide_header = "hide_header";
    }
   



}







<header class="@hide_header NavHeader">

    <nav class="d-flex flex-row container justify-content-between py-4">
        <div class="row w-100  align-items-center">
            <div class="col">
                <h3 class="brand">

                   <img src="@Model.appSettings.Logo" />

                </h3>
            </div>
            <div class="col-lg-6  d-xl-flex d-none navMiddelList justify-content-center align-items-center">
                <ul class="list-unstyled d-flex justify-content-between">
                    
                    <li>
                        <a asp-area="NourGram" asp-controller="NourGram" asp-action="Index"> @localizer["About Us"]</a>
                    </li>
                    <li>
                        <a href="#">@localizer["Get Involve"]</a>
                    </li>
                    <partial name="_loginPartial" />
                    @if (SignInManager.IsSignedIn(User)){

                    <li >
                        <a asp-area="Admin" asp-controller="Admin" asp-action="Index">

                            @localizer["Admin"]
                        </a>
                    </li>
                    }
                   
                </ul>
            </div>
            <div class="col gap-5 d-flex justify-content-end">
                <partial name="_Culture" />
               

                <i class="bi bi-list " id="humburg"></i>
            </div>
        </div>

    </nav>
</header>
<div class="subMenu @hide_header">
    <div class="subMenu_info">

        <div class="row px-lg-2">
            @foreach(var el in Model.subMenu)
            {
                
                @if(culture == "en"){

                <div class="col-6 col-md-3 ">
                <h5>@el.enName</h5>
                <ul>
                    <li>@el.enarsubItem1</li>
                    <li>@el.ensubItem2</li>
                    <li>@el.ensubItem3</li>
                 

                </ul>
                    </div>
                }else
                    {
                        <div class="col-6 col-md-3 ">
                            <h4>@el.arName</h4>
                            <ul>    
                                <li>@el.arsubItem1</li>
                                <li>@el.arsubItem2</li>
                                <li>@el.arsubItem3</li>


                            </ul>
                        </div>
                    }
            }
          

        </div>

    </div>
</div>
