@model List<CMScenter.Views.Models.Services>;
@{
    ViewData["Title"] = "Services";
   var currentCategoryId = ViewContext.RouteData.Values["id"].ToString();
}



    <section class="control_page TeamManage">
    <partial name="_AdminNav" />
        <div class="add_new">

    @*<a asp-ara="Admin" asp-controller="Services" asp-action="Create" asp-route-id="@currentCategoryId">Addd New <i class="bi bi-plus-circle ms-3"></i></a>*@
    <a asp-ara="Admin" asp-controller="Services" asp-action="Create" >Addd New <i class="bi bi-plus-circle ms-3"></i></a>
        </div>
    <table class="table table-striped table-dark container ">

    
        <thead>
            <tr>
               
               
                <th scope="col"> Name</th>
                <th scope="col">Category</th>
              
                <th scope="col">Last updated</th>
                <th scope="col">Controllers</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var el in Model)
            {
                
            <tr>
               
               
                <td>@el.enName</td>

                <td>@el.courseCategory.enName</td> 
               
                <td>
                   @el.LastUpdated
                    </td>
                    <td class="d-flex flex-column flex-md-row gap-2">
                        <a class="btn btn-success " asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-id="@el.Id">Edit</a>
                        <a class="btn btn-danger " asp-area="Admin" asp-controller="Services" asp-action="delete" asp-route-id="@el.Id">Delete</a>
                    </td>

            </tr>
            }
 
        </tbody>
    </table>
    </section>