@model List<CMScenter.Views.Models.Video>
@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_NourLayout.cshtml";


    string culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}












<section class="CategoryPage min-vh-100  container">
    <partial name="_NourAdminNav" />

    @if (culture == "en")
    {

        <h1 class="text-center my-3 py-5">All Videos </h1>



    }
    else
    {
        <h1 class="text-center my-5 ">   الفيديوهات</h1>

    }







    <div class="add_new_post container ">
        <a asp-area="NourAdmin" asp-controller="Videos" asp-action="Create"><i class="fa-solid fa-plus mx-3"></i>  Add Video</a>
    </div>
    <table class="table table-striped table-dark container px-5">


        <thead>
            <tr>
                @if (culture == "en")
                {
                    <th scope="col"> Title</th>

                    <th scope="col">Description</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Contributer</th>


                    <th scope="col" colspan="2">Date</th>
                    <th scope="col">Status</th>

                    <th scope="col">Controllers</th>
                }
                else
                {
                    <th scope="col"> الاسم</th>

                    <th scope="col">الوصف</th>
                    <th scope="col">الصورة</th>
                    <th scope="col">المقدم</th>

                    <th scope="col" colspan="2">تاريخ</th>
                    <th scope="col">الحالة</th>
                


                    <th scope="col">التحكم</th>
                }



            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {

                @if (culture == "en")
                {
                    <tr>


                        <td class="Tbletitle">@el.EnTitle</td>



                        <td>
                            <p class="postDesAdmin">

                                @el.EnDescription
                            </p>
                        </td>
                        <td>
                            <div class="PostImageAdmin">
                                <img src=" @el.Thumbnail" />

                            </div>
                        </td> 
                        <td>
                            <div class="postDesAdmin">
                        @el.Contributor.EnName 

                            </div>
                        </td>
                        <td colspan="2">
                            <div class="PostImageAdmin " >
                             @el.RecordDate.ToShortDateString()

                            </div>
                        </td>  
                        <td>
                            <div class="PostImageAdmin">
                             @el.VideoStatus

                            </div>
                        </td>



                        <td class="postControllers d-flex flex-column flex-md-row gap-2">
                       
                            <a class="btn btn-success " asp-area="NourAdmin" asp-controller="Videos" asp-action="Edit" asp-route-id="@el.Id">Edit</a>
                            <a class="btn btn-danger " asp-area="NourAdmin" asp-controller="Videos" asp-action="delete" asp-route-id="@el.Id">Delete</a>

                           
                          @*  @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-success " href=" @Url.Action("Approve","Videos",new { id = @el.Id })">Approve</a>
                                
                            }*@
                        </td>

                    </tr>

                }
                else
                {
                    <tr>


                        <td>@el.ArTitle</td>



                        <td>
                            <p class="postDesAdmin">

                                @el.ArDescription
                            </p>
                        </td>
                        <td>
                            <div class="PostImageAdmin">
                                <img src="@el.Thumbnail" />

                            </div>
                        </td>
                        <td>
                            <div class="postDesAdmin">
                                 @el.Contributor.ArName

                            </div>
                        </td>

                        <td colspan="2">
                            <div class="PostImageAdmin" >
                                @el.RecordDate.ToShortDateString()

                            </div>
                        </td>
                        <td>
                            <div class="PostImageAdmin">
                                @el.VideoStatus

                            </div>
                        </td>


                        <td class="postControllers d-flex flex-column flex-md-row gap-2">
                      
                                <a class="btn btn-success " asp-area="NourAdmin" asp-controller="Videos" asp-action="Edit" asp-route-id="@el.Id">تعديل</a>
                                <a class="btn btn-danger " asp-area="NourAdmin" asp-controller="Videos" asp-action="delete" asp-route-id="@el.Id">حذف</a>

                        
                           
                        </td>

                    </tr>
                }


            }

        </tbody>
    </table>
</section>