@model CMScenter.Views.Models.NourViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Video";

    Layout = "~/Views/Shared/_NourLayout.cshtml";
    string culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    var videoData = ViewBag.VideoData;



}

@functions {
    public string videoId(string link)
    {
        Uri uri = new Uri(link);
        string path = uri.AbsolutePath;

        // Get the video ID from the path
        string VideoId = path.Substring(1);

        return VideoId;
    }
}

<section class="videoPage">
   
        <div class="row min-vh-100">
            <div class="col-lg-8 col-12 px-5 ">
                <div class="d-flex flex-column gap-3">

               
                    <div class="video ">
                       
                     @Html.Raw(videoData.embed.html)

               
                    </div>
                    <div class="videoInfo">

                    @Html.Raw(videoData.metadata.connections.likes.total)
                    </div>
                @*    <div class="Description">
                        @if (culture == "en")
                    {
                    @Model.videItem.EnDescription

                    }
                    else
                    {
                        @Model.videItem.ArDescription
                    }*@
                    </div>
                        <div class="Comments">
                    <form action="AddConmment"  method="post" >
                        <input hidden asp-for="comment.Id" />
                        <input type="hidden" name="UserId" value="@userManager.GetUserId(User)" />
                        <input type="hidden" name="videoId" value="@ViewBag.videoId" />
                        <input type="hidden" name="VimeoId" value="@ViewBag.vimeoId" />
                          <textarea name="content" class="comment_area p-3 px-2" rows="4" placeholder="Add Your Comment" ></textarea>
                          <button>Send</button>
                            </form>

                            <hr />
                            <ul>

                    @foreach(var el in Model.comments)
                    {
                        <li>@el.Content</li>
                    }

                            </ul>
                        </div>
                 </div>
              </div>
         <div class="col py-3 gap-3">
            @foreach (var el in Model.videos)
            {
             
                <div>
                   <a asp-area="NourGram" asp-controller="Video" asp-action="Index" asp-route-id="@videoId(el.Link)" asp-route-Db="@el.Id">
                  


                        <div class="card">
                            <div class="card__header">
                                <img src="@el.Thumbnail" alt="card__image" class="card__image" width="600">
                            </div>
                            <div class="card__body">
                                <span class="tag tag-blue">@el.VideoCat.EnName</span>
                                <h5>@el.EnTitle</h5>

                            </div>
                            <div class="card__footer">
                                <div class="user">
                                    <img src="@el.Contributor.ProfileImage" alt="user__image" class="user__image">
                                    <div class="user__info">

                                        <h6>@el.Contributor.EnName</h6>
                                        <small>2h ago</small>
                                    </div>
                                </div>

                                <div>
                                    <small>
                                        350k  views
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>

               </div>

            }
                    
        </div>
        </div>
           
        <div/>
       

</section>